<div class="text-center">
<h1>Cocktails#index</h1>
   <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_cocktail_path %>
   <br>

  <% @cocktails.each do |cocktail| %>
  <h1><%= link_to cocktail.name, cocktail_path(cocktail)  %></h1>
  <%= link_to '<i class="fa fa-add" aria-hidden="true"></i>'.html_safe, edit_cocktail_path(cocktail) %>

  <% end %>

  <%= cl_image_tag("loool", width: 400, height: 300, crop: :fill) %>
</div>
