<div class="text-center">
  <h1>Cocktails#new</h1>

  <%= render 'form' %>

  <% GoogleCustomSearchApi.search("mojito", searchType: "image" ).items.each do |item| %>
   <%= image_tag item.link %>
    <% end  %>


<%= link_to "google", "link_to lool, 'www.google.com' " %>
  </div>
